.search-container{
    direction: ltr;
}

.search-container input[type="text"]{
    direction: rtl;
}

.last-posts .last-posts-item .img-container{
    width: 40%;
}

.last-posts .last-posts-item .img-container img{
    width: 100%;
}

.tag-item{
    text-decoration: none;
    color: var(--black);
    padding: 0.1rem 0.5rem;
    background-color: rgb(228, 225, 225);
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    margin:0.5rem 0.5rem;
    display: inline-block;
}

.blog-post-container{
    display: flex;
    align-items: top;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog-card{
    width: 25rem;
    height: 30rem;
    border:1px solid #00000020;
    padding:0;
    overflow: hidden;
}

.blog-card-body{
    padding:1rem;
}

.blog-card-text{
    font-size: 0.9rem;
    text-align: justify;
}
