

.header-container{
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.nav li{
    margin-left: 1rem;
    cursor: pointer;
    padding:0.5rem 1rem;
    transition: var(--transitionTime);
    -webkit-transition: var(--transitionTime);
    -moz-transition: var(--transitionTime);
    -ms-transition: var(--transitionTime);
    -o-transition: var(--transitionTime);
    border-bottom: 3px solid #00000000;
}

.nav li:hover{
    border-bottom: 3px solid var(--color2);
}

#logo-in, .menu{
    
    cursor: pointer;
}

#logo-in{
    font-size: 1.2rem;
    width:7rem;
    text-align: center;
    padding:0.5rem;
    border:2px solid var(--color2);
    border-radius: 0.7rem;
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    -ms-border-radius: 0.7rem;
    -o-border-radius: 0.7rem;
    transition:all 0.2s ease-in;
    -webkit-transition:all 0.2s ease-in;
    -moz-transition:all 0.2s ease-in;
    -ms-transition:all 0.2s ease-in;
    -o-transition:all 0.2s ease-in;
    margin-left: 1rem;
}

#logo-in:hover{
    color: var(--white);
    background-color: var(--color2);
}