

.header-container{
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.nav li{
    margin-left: 2rem;
}

.nav li a{
    text-decoration: none;
    /* color: var(--white); */
}