@font-face {
  font-family: 'Vazir';
  src: url('../public/fonts/number/vazir.eot') format('eot');
  src : url('../public/fonts/number/vazir.ttf') format('truetype'),
  url('../public/fonts/number/vazir.woff') format('woff');
}

:root{
  --bgcolor: #fefefe;
  --white: #fff;
  --black: #000;
  --mainColor: #142c4c;
  --secondColor: #2020f4;
  --color1: #DFF6FF;
  --color2: #47B5FF;
  --color3: #1363DF;
  --color4: #06283D;
  --transitionTime: all 0.2s ease-in;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  direction: rtl;
  font-family: 'vazir' !important;

}

.button{
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  transition: var(--transitionTime);
  -webkit-transition: var(--transitionTime);
  -moz-transition: var(--transitionTime);
  -ms-transition: var(--transitionTime);
  -o-transition: var(--transitionTime);
  letter-spacing:normal;  
}

.read-more-btn{
  color: var(--color3);
  background-color: var(--color1);
  box-shadow: 0px 0px 13px var(--color1);
}

.read-more-btn:hover{
  letter-spacing: 0.5px;
  box-shadow: 0px 0px 10px transparent;
}
