@font-face {
  font-family: 'Vazir';
  src: url('../public/fonts/number/vazir.eot') format('eot');
  src : url('../public/fonts/number/vazir.ttf') format('truetype'),
  url('../public/fonts/number/vazir.woff') format('woff');
}

:root{
  --bgcolor: #fefefe;
  --white: #fff;
  --black: #000;
  --mainColor: #142c4c;
  --secondColor: #2020f4;
  --color1: #DFF6FF;
  --color2: #47B5FF;
  --color3: #1363DF;
  --color4: #06283D;
  --transitionTime: all 0.2s ease-in;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  direction: rtl;
  font-family: 'vazir' !important;

}



