@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'vazir';
    src: url('assets/fonts/Vazir.ttf') format('truetype'),
    url('assets/fonts/Vazir.ttf') format('truetype');
}

body {
    direction: rtl;
    font-family: vazir, sans-serif;
}